
.btnPrimary{
    color: white !important;
    background-color: $primaryColor !important;
    border-radius: $themeRadius !important;
    height: 45px;
    font-weight: 700 !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    line-height: 30px !important;
}