@import "./shared/variables";

body{
    min-height: 100vh;
    background-image: url('/bottom-waves.png');
    background-color: $bg-color;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}
